.navbar {
  background-color: rgb(24, 54, 60, 1);
  border-bottom-color: rgba(15, 23, 42, 0.1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
